<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>date</key>
		<string>1月5日</string>
		<key>price</key>
		<string>3478.78</string>
	</dict>
	<dict>
		<key>date</key>
		<string>1月6日</string>
		<key>price</key>
		<string>3539.81</string>
	</dict>
	<dict>
		<key>date</key>
		<string>1月7日</string>
		<key>price</key>
		<string>3294.38</string>
	</dict>
	<dict>
		<key>date</key>
		<string>1月8日</string>
		<key>price</key>
		<string>3361.56</string>
	</dict>
	<dict>
		<key>date</key>
		<string>1月11日</string>
		<key>price</key>
		<string>3192.45</string>
	</dict>
	<dict>
		<key>date</key>
		<string>1月12日</string>
		<key>price</key>
		<string>3215.71</string>
	</dict>
	<dict>
		<key>date</key>
		<string>1月13日</string>
		<key>price</key>
		<string>3155.88</string>
	</dict>
	<dict>
		<key>date</key>
		<string>1月14日</string>
		<key>price</key>
		<string>3221.57</string>
	</dict>
	<dict>
		<key>date</key>
		<string>1月15日</string>
		<key>price</key>
		<string>3118.73</string>
	</dict>
	<dict>
		<key>date</key>
		<string>1月18日</string>
		<key>price</key>
		<string>3130.73</string>
	</dict>
	<dict>
		<key>date</key>
		<string>1月19日</string>
		<key>price</key>
		<string>3223.13</string>
	</dict>
	<dict>
		<key>date</key>
		<string>1月20日</string>
		<key>price</key>
		<string>3174.38</string>
	</dict>
	<dict>
		<key>date</key>
		<string>1月21日</string>
		<key>price</key>
		<string>3081.35</string>
	</dict>
	<dict>
		<key>date</key>
		<string>1月22日</string>
		<key>price</key>
		<string>3113.46</string>
	</dict>
	<dict>
		<key>date</key>
		<string>1月25日</string>
		<key>price</key>
		<string>3128.89</string>
	</dict>
	<dict>
		<key>date</key>
		<string>1月26日</string>
		<key>price</key>
		<string>2940.51</string>
	</dict>
	<dict>
		<key>date</key>
		<string>1月27日</string>
		<key>price</key>
		<string>2930.35</string>
	</dict>
	<dict>
		<key>date</key>
		<string>1月28日</string>
		<key>price</key>
		<string>2853.76</string>
	</dict>
	<dict>
		<key>date</key>
		<string>1月29日</string>
		<key>price</key>
		<string>2946.09</string>
	</dict>
	<dict>
		<key>date</key>
		<string>2月1日</string>
		<key>price</key>
		<string>2901.05</string>
	</dict>
	<dict>
		<key>date</key>
		<string>2月2日</string>
		<key>price</key>
		<string>2961.33</string>
	</dict>
	<dict>
		<key>date</key>
		<string>2月3日</string>
		<key>price</key>
		<string>2948.64</string>
	</dict>
	<dict>
		<key>date</key>
		<string>2月4日</string>
		<key>price</key>
		<string>2984.76</string>
	</dict>
	<dict>
		<key>date</key>
		<string>2月5日</string>
		<key>price</key>
		<string>2963.79</string>
	</dict>
	<dict>
		<key>date</key>
		<string>2月15日</string>
		<key>price</key>
		<string>2946.71</string>
	</dict>
</array>
</plist>
