<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>InterviewSubject.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1880C7321CF2B66000A05C28</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1880C74B1CF2B66000A05C28</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1880C7561CF2B66000A05C28</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
